@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Portfolio Splash Page Styling */
.portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background.jpg");
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.portfolio main {
    max-width: 400px;
}
.portfolio main .dev {
    font-size: 1.75em;
    margin: 30px;
    text-align: center;
}
.portfolio main .links {
    display: flex;
    justify-content: space-between;
}
.portfolio a {
    text-decoration: none;
    color: #000;
}
/* End Portfolio Splash Page Styling */

/* Projects Page Styling */
.projects {
    background-color: #000;
    flex-direction: column;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
}
.projects nav {
    top: 0;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.projects nav a {
    padding: 1em;
}
.projects-title {
    text-align: center;
}
.projects .grid-container {
    display: flex;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: minimax(150px, auto);
    grid-gap: 50px;
    align-content: stretch;
    height: 100vh;
}
.projects img {
    height: 200px;
    width: 200px;
}
.project-name {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100px;
    align-items: center;
}
.projects a {
    text-decoration: none;
    color: #fff;
}
/* End Projects Page Styling */

/* Start Resume Page Styling */
.resume {
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.resume-iframe {
    margin-top: 1%;
    width: 75%;
    height: 900px;
}
.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume nav {
    display: flex;
    justify-content: space-between;
}
.resume nav a {
    padding: 1em;
    text-align: left;
    text-decoration: none;
    color: #000;
}
/* End Resume Page Styling */