body {
    padding-top: 50px;
    background-image: url("../img/background.jpg");
    margin: 0;
}
.container {
    /* Brings footer to the bottom */
    min-height: 90vh;
}
footer {
    min-height: 50px;
    color: #fff;
}