@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-image: url('img/snowy-night.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 {
    font-weight: normal;
    color: #ddd;
    font-size: 4rem;
    margin-top: 5rem;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.countdown-container {
    display: flex;
    flex-wrap: wrap; /* Makes it responsive */
    justify-content: center;
}
.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    color: #ddd;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.countdown-el {
    text-align: center;
}
.countdown-el span {
    font-size: 1.3rem;
    color: #ddd;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}