@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


 body {
    font-family: 'Cookie', Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background-image: url('../img/background.jpg');
}
img {
    width: 400px;
    height: 300px;
}
.button {
    background: #000;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.button:hover {
    background: #4085b1;
}
.modal {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: none; /* Don't display it when the page loads, only when JavaScript calls it */
    position: fixed;
    z-index: 1; /* Order of elements (the higher the z-index, the more up front it will be */
    left: 0;
    top: 0;
    height: 100%; /* Take up the whole modal window */
    width: 100%; /* Take up the whole modal window */
    overflow: auto; /* Will enable to scrollbar if it's needed */
    background-color: rgba(0,0,0,0.5); /* Makes background darker upon opening modal */
}
h1 {
    margin-top: 15%;
    font-size: 6em;
}
#buttonWrapper, h1 {
    text-align: center;
}
#buttonWrapper {
    padding: 100px 5px;
}

/* Styling for Modal Box */
.modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    width: 70%;
    min-height: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); 
    animation-name: modalopen;
    animation-duration: 1s; /* One second */
}
.modal-header {
    background-color: #2f0505;
    padding: 5px;
    color: #fff;
}
.modal-header h2, .modal-image h3 {
    margin: 0;
}
.modal-body {
    padding: 5px 20px;
}
.modal-image {
    background: #f4f4f4;
    padding-bottom: 80px;
    color: #fff;
    text-align: center;
}
.modal-description {
    background: #2f0505;
    padding: 5px;
    color: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}
.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Keyframe for CSS Animation */
/* Animating the opacity from 0 to 1 in 1 second (fades in) */
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

#restaurant {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    font-family: 'Cookie', Arial, Helvetica, sans-serif;
}
/* Have pick another game button take up entire space of modal */
#pickAgain {
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav a {
    font-family: 'Amatic SC', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 24px;
}